.idea/
.dart_tool
/vendor/
/tests/sdks
/.vscode
.vs
.env

# exclude direnv settings
.envrc

# exclude everything
examples/*

# exception to the rule
!examples/.gitkeep 
.DS_Store


# exclude go checksum files
tests/languages/go/go.sum