.idea/
.dart_tool
/vendor/
/tests/sdks
/.vscode
.vs
.env

# exclude everything
examples/*

# exception to the rule
!examples/.gitkeep
**/.DS_Store
templates/swift/example/.build
templates/swift/example/Example.xcodeproj/project.xcworkspace/xcuserdata
templates/swift/example/Example.xcodeproj/xcuserdata
**/xcuserdata
