
dist: xenial

arch:
  - amd64

os: linux

language: php

php:
  - 7.4

env:
  - SDK=Android
  - SDK=CLI
  - SDK=Dart
  - SDK=Deno
  - SDK=Flutter
  - SDK=Kotlin
  - SDK=Node
  - SDK=PHP
  - SDK=Python
  - SDK=Ruby
  - SDK=SwiftClient
  - SDK=SwiftServer
  - SDK=Web

notifications:
  email:
    - team@appwrite.io

before_install:
  - curl -fsSL https://get.docker.com | sh
  - echo '{"experimental":"enabled"}' | sudo tee /etc/docker/daemon.json
  - mkdir -p $HOME/.docker
  - echo '{"experimental":"enabled"}' | sudo tee $HOME/.docker/config.json
  - sudo service docker start
  - >
    if [ ! -z "${DOCKERHUB_PULL_USERNAME:-}" ]; then
      echo "${DOCKERHUB_PULL_PASSWORD}" | docker login --username "${DOCKERHUB_PULL_USERNAME}" --password-stdin
    fi


install:
  - docker --version
  - composer install

script:
  - vendor/bin/phpunit tests/${SDK}Test.php