<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/unit/</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory>./tests/e2e/</directory>
        </testsuite>
    </testsuites>
</phpunit>
