{
  "swagger": "2.0",
  "info": {
    "version": "0.5.3",
    "title": "Appwrite",
    "description": "Appwrite backend as a service cuts up to 70% of the time and costs required for building a modern application. We abstract and simplify common development tasks behind a REST APIs, to help you develop your app in a fast and secure way. For full API documentation and tutorials go to [https:\/\/appwrite.io\/docs](https:\/\/appwrite.io\/docs)",
    "termsOfService": "https:\/\/appwrite.io\/policy\/terms",
    "contact": {
      "name": "Appwrite Team",
      "url": "https:\/\/appwrite.io\/support",
      "email": "team@appwrite.io"
    },
    "license": {
      "name": "BSD-3-Clause",
      "url": "https:\/\/raw.githubusercontent.com\/appwrite\/appwrite\/master\/LICENSE"
    }
  },
  "host": "appwrite.io",
  "basePath": "\/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application\/json",
    "multipart\/form-data"
  ],
  "produces": [
    "application\/json"
  ],
  "securityDefinitions": {
    "Project": {
      "type": "apiKey",
      "name": "X-Appwrite-Project",
      "description": "Your project ID",
      "in": "header",
      "extensions": {
        "demo": "5df5acd0d48c2"
      }
    },
    "Key": {
      "type": "apiKey",
      "name": "X-Appwrite-Key",
      "description": "Your secret API key",
      "in": "header",
      "extensions": {
        "demo": "919c2d18fb5d4...a2ae413da83346ad2"
      }
    },
    "Locale": {
      "type": "apiKey",
      "name": "X-Appwrite-Locale",
      "description": "",
      "in": "header",
      "extensions": {
        "demo": "en"
      }
    },
    "Mode": {
      "type": "apiKey",
      "name": "X-Appwrite-Mode",
      "description": "",
      "in": "header",
      "extensions": {
        "demo": ""
      }
    }
  },
  "paths": {
    "\/mock\/tests\/bar": {
      "get": {
        "summary": "Mock a get request for SDK tests",
        "operationId": "get",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "bar"
        ],
        "description": "",
        "extensions": {
          "weight": 50,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/bar\/get.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a get request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ],
        "parameters": [
          {
            "name": "x",
            "description": "Sample string param",
            "required": true,
            "type": "string",
            "x-example": "[]",
            "in": "query"
          },
          {
            "name": "y",
            "description": "Sample numeric param",
            "required": true,
            "type": "integer",
            "format": "int32",
            "in": "query"
          },
          {
            "name": "z",
            "description": "Sample array param",
            "required": true,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string"
            },
            "in": "query"
          }
        ]
      },
      "post": {
        "summary": "Mock a post request for SDK tests",
        "operationId": "post",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "bar"
        ],
        "description": "",
        "extensions": {
          "weight": 51,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/bar\/post.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a post request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ],
        "parameters": [
          {
            "name": "x",
            "description": "Sample string param",
            "required": true,
            "type": "string",
            "x-example": "[]",
            "in": "formData"
          },
          {
            "name": "y",
            "description": "Sample numeric param",
            "required": true,
            "type": "integer",
            "format": "int32",
            "in": "formData"
          },
          {
            "name": "z",
            "description": "Sample array param",
            "required": true,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string"
            },
            "in": "formData"
          }
        ]
      },
      "put": {
        "summary": "Mock a put request for SDK tests",
        "operationId": "put",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "bar"
        ],
        "description": "",
        "extensions": {
          "weight": 53,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/bar\/put.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a put request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ],
        "parameters": [
          {
            "name": "x",
            "description": "Sample string param",
            "required": true,
            "type": "string",
            "x-example": "[]",
            "in": "formData"
          },
          {
            "name": "y",
            "description": "Sample numeric param",
            "required": true,
            "type": "integer",
            "format": "int32",
            "in": "formData"
          },
          {
            "name": "z",
            "description": "Sample array param",
            "required": true,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string"
            },
            "in": "formData"
          }
        ]
      },
      "patch": {
        "summary": "Mock a patch request for SDK tests",
        "operationId": "patch",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "bar"
        ],
        "description": "",
        "extensions": {
          "weight": 52,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/bar\/patch.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a get request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ],
        "parameters": [
          {
            "name": "x",
            "description": "Sample string param",
            "required": true,
            "type": "string",
            "x-example": "[]",
            "in": "formData"
          },
          {
            "name": "y",
            "description": "Sample numeric param",
            "required": true,
            "type": "integer",
            "format": "int32",
            "in": "formData"
          },
          {
            "name": "z",
            "description": "Sample array param",
            "required": true,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string"
            },
            "in": "formData"
          }
        ]
      },
      "delete": {
        "summary": "Mock a delete request for SDK tests",
        "operationId": "delete",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "bar"
        ],
        "description": "",
        "extensions": {
          "weight": 54,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/bar\/delete.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a delete request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ],
        "parameters": [
          {
            "name": "x",
            "description": "Sample string param",
            "required": true,
            "type": "string",
            "x-example": "[]",
            "in": "formData"
          },
          {
            "name": "y",
            "description": "Sample numeric param",
            "required": true,
            "type": "integer",
            "format": "int32",
            "in": "formData"
          },
          {
            "name": "z",
            "description": "Sample array param",
            "required": true,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string"
            },
            "in": "formData"
          }
        ]
      }
    },
    "\/mock\/tests\/foo": {
      "get": {
        "summary": "Mock a get request for SDK tests",
        "operationId": "get",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "foo"
        ],
        "description": "",
        "extensions": {
          "weight": 45,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/foo\/get.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a get request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ],
        "parameters": [
          {
            "name": "x",
            "description": "Sample string param",
            "required": true,
            "type": "string",
            "x-example": "[]",
            "in": "query"
          },
          {
            "name": "y",
            "description": "Sample numeric param",
            "required": true,
            "type": "integer",
            "format": "int32",
            "in": "query"
          },
          {
            "name": "z",
            "description": "Sample array param",
            "required": true,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string"
            },
            "in": "query"
          }
        ]
      },
      "post": {
        "summary": "Mock a post request for SDK tests",
        "operationId": "post",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "foo"
        ],
        "description": "",
        "extensions": {
          "weight": 46,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/foo\/post.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a post request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ],
        "parameters": [
          {
            "name": "x",
            "description": "Sample string param",
            "required": true,
            "type": "string",
            "x-example": "[]",
            "in": "formData"
          },
          {
            "name": "y",
            "description": "Sample numeric param",
            "required": true,
            "type": "integer",
            "format": "int32",
            "in": "formData"
          },
          {
            "name": "z",
            "description": "Sample array param",
            "required": true,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string"
            },
            "in": "formData"
          }
        ]
      },
      "put": {
        "summary": "Mock a put request for SDK tests",
        "operationId": "put",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "foo"
        ],
        "description": "",
        "extensions": {
          "weight": 48,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/foo\/put.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a put request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ],
        "parameters": [
          {
            "name": "x",
            "description": "Sample string param",
            "required": true,
            "type": "string",
            "x-example": "[]",
            "in": "formData"
          },
          {
            "name": "y",
            "description": "Sample numeric param",
            "required": true,
            "type": "integer",
            "format": "int32",
            "in": "formData"
          },
          {
            "name": "z",
            "description": "Sample array param",
            "required": true,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string"
            },
            "in": "formData"
          }
        ]
      },
      "patch": {
        "summary": "Mock a patch request for SDK tests",
        "operationId": "patch",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "foo"
        ],
        "description": "",
        "extensions": {
          "weight": 47,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/foo\/patch.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a get request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ],
        "parameters": [
          {
            "name": "x",
            "description": "Sample string param",
            "required": true,
            "type": "string",
            "x-example": "[]",
            "in": "formData"
          },
          {
            "name": "y",
            "description": "Sample numeric param",
            "required": true,
            "type": "integer",
            "format": "int32",
            "in": "formData"
          },
          {
            "name": "z",
            "description": "Sample array param",
            "required": true,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string"
            },
            "in": "formData"
          }
        ]
      },
      "delete": {
        "summary": "Mock a delete request for SDK tests",
        "operationId": "delete",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "foo"
        ],
        "description": "",
        "extensions": {
          "weight": 49,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/foo\/delete.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a delete request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ],
        "parameters": [
          {
            "name": "x",
            "description": "Sample string param",
            "required": true,
            "type": "string",
            "x-example": "[]",
            "in": "formData"
          },
          {
            "name": "y",
            "description": "Sample numeric param",
            "required": true,
            "type": "integer",
            "format": "int32",
            "in": "formData"
          },
          {
            "name": "z",
            "description": "Sample array param",
            "required": true,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string"
            },
            "in": "formData"
          }
        ]
      }
    },
    "\/mock\/tests\/general\/empty": {
      "get": {
        "summary": "Mock a post request for SDK tests",
        "operationId": "empty",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "general"
        ],
        "description": "",
        "extensions": {
          "weight": 60,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/general\/empty.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a redirected request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ]
      }
    },
    "\/mock\/tests\/general\/get-cookie": {
      "get": {
        "summary": "Mock a cookie request for SDK tests",
        "operationId": "getCookie",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "general"
        ],
        "description": "",
        "extensions": {
          "weight": 59,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/general\/get-cookie.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a get cookie request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ]
      }
    },
    "\/mock\/tests\/general\/redirect": {
      "get": {
        "summary": "Mock a post request for SDK tests",
        "operationId": "redirect",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "general"
        ],
        "description": "",
        "extensions": {
          "weight": 56,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/general\/redirect.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a redirect request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ]
      }
    },
    "\/mock\/tests\/general\/redirected": {
      "get": {
        "summary": "Mock a post request for SDK tests",
        "operationId": "redirected",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "general"
        ],
        "description": "",
        "extensions": {
          "weight": 57,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/general\/redirected.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a redirected request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ]
      }
    },
    "\/mock\/tests\/general\/set-cookie": {
      "get": {
        "summary": "Mock a cookie request for SDK tests",
        "operationId": "setCookie",
        "consumes": [
          "application\/json"
        ],
        "tags": [
          "general"
        ],
        "description": "",
        "extensions": {
          "weight": 58,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/general\/set-cookie.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a set cookie request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ]
      }
    },
    "\/mock\/tests\/general\/upload": {
      "post": {
        "summary": "Mock a post request for SDK tests",
        "operationId": "upload",
        "consumes": [
          "multipart\/form-data"
        ],
        "tags": [
          "general"
        ],
        "description": "",
        "extensions": {
          "weight": 55,
          "cookies": false,
          "location": false,
          "demo": "docs\/examples\/general\/upload.md",
          "edit": "https:\/\/github.com\/appwrite\/appwrite\/edit\/masterMock a delete request for SDK tests",
          "rate-limit": 0,
          "rate-time": 3600,
          "scope": "public",
          "platforms": []
        },
        "security": [
          {
            "Project": [],
            "Key": []
          }
        ],
        "parameters": [
          {
            "name": "x",
            "description": "Sample string param",
            "required": true,
            "type": "string",
            "x-example": "[]",
            "in": "formData"
          },
          {
            "name": "y",
            "description": "Sample numeric param",
            "required": true,
            "type": "integer",
            "format": "int32",
            "in": "formData"
          },
          {
            "name": "z",
            "description": "Sample array param",
            "required": true,
            "type": "array",
            "collectionFormat": "multi",
            "items": {
              "type": "string"
            },
            "in": "formData"
          },
          {
            "name": "file",
            "description": "Sample file param",
            "required": true,
            "type": "file",
            "in": "formData"
          }
        ]
      }
    }
  },
  "definitions": {
    "Error": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Full API docs, specs and tutorials",
    "url": "https:\/\/localhost:2444\/docs"
  }
}