.idea/
.dart_tool
/vendor/
/tests/sdks
/.vscode
.vs
.phpunit.*
.env
.envrc
.hatch

# exclude everything
examples/*
tests/tmp
.phpunit.result.cache

# exception to the rule
!examples/.gitkeep 

**/.DS_Store
templates/swift/example/.build
templates/swift/example/Example.xcodeproj/project.xcworkspace/xcuserdata
templates/swift/example/Example.xcodeproj/xcuserdata
**/xcuserdata
# exclude go checksum files
go.sum

