<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMvUD39Ep0YNErFofulozgmzyeej8ajy4</string>
	<key>GCM_SENDER_ID</key>
	<string>1036121223769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.appwrite.ios</string>
	<key>PROJECT_ID</key>
	<string>my-cool-project-60605</string>
	<key>STORAGE_BUCKET</key>
	<string>my-cool-project-60605.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1036121223769:ios:46d80f0d045d22b52db748</string>
</dict>
</plist>